body {
    margin: 0;
    padding: 0;
}

.background{
    width: 100vw;
    height: auto; 
    z-index: -1;
}

.text{
    font-family: futura;
    font-size: 40px;
    padding-left: 20px;
    transition: 0.5s;
    cursor: pointer;

}

.text:hover{
    text-decoration: underline;
    color: lightblue;

}

.container{
    display: flex;
}

.div1{
    width: 10vw;
    height: 40vh;
    background-color: black;
    margin-top: -670px;
    margin-left: 100px;
}

.div2{
    width: 10vw;
    height: 40vh;
    background-color: lightcoral;
    margin-top: -670px;
    margin-left: 100px;
    border-radius: 10px;

}

.icon, .icon2{
    width: 7vw;
    padding-left: 15%;
    padding-top: 60%;

}



div p {
    color: whitesmoke;
    padding-left: 35%;
    font-family: futura;
}


ul > li{
    color: white;
    padding-left: 10px;
    font-family: futura;
}